{% extends 'vol/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }
    
  </style>
</head>
<h2 style="text-align:center; color:blue;">ADD Team</h2>
<form method="POST" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
        <label for="course_name">Pandemic Name</label>
      {% render_field teamForm.pandemicId class="form-control" placeholder="COVID-19" %}

      <label for="course_name">Description</label>
      {% render_field teamForm.description class="form-control" placeholder="This team is good" %}

      <label for="course_name">Member 1</label>
      {% render_field teamForm.member1 class="form-control" %}

      <label for="course_name">Member 2</label>
      {% render_field teamForm.member2 class="form-control"  %}

      <label for="course_name">Member 3</label>
      {% render_field teamForm.member3 class="form-control"  %}

      <label for="course_name">Member 4</label>
      {% render_field teamForm.member4 class="form-control"  %}

      <label for="course_name">Member 5</label>
      {% render_field teamForm.member5 class="form-control" %}




    </div>
    

    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
<br><br><br>
{% endblock content %}
