{% extends 'vol/adminbase.html' %}
{% load widget_tweaks %}
{% block content %}
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
       <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  a:link {
        text-decoration: none;
      }
    
  </style>
</head>
<h2 style="text-align:center; color:blue;">ADD PANDEMIC</h2>
<form method="POST" style="margin:100px;margin-top: 0px;">
    {%csrf_token%}
    <div class="form-group">
        <label for="course_name">Pandemic Name</label>
      {% render_field pandemicForm.name class="form-control" placeholder="COVID-19" %}

      <label for="course_name">Description</label>
      {% render_field pandemicForm.description class="form-control" placeholder="Corona virus is dangerous" %}

      <label for="question_number">Risk Level</label>
      {% render_field pandemicForm.risk_level class="form-control" placeholder="Very High" %}

      <label for="total_marks">Impact</label>
      {% render_field pandemicForm.impact class="form-control" placeholder="" %}
    </div>
    

    <button type="submit" class="btn btn-primary">ADD</button>
  </form>
<br><br><br>
{% endblock content %}
